$primary-1: #FEFDFC;
$primary-2: #FDFBF8;
$primary-3: #FCF8F2;
$primary-4: #FAF4EA;
$primary-5: #F7EFE1;
$primary-color: #F5EAD8;
$primary-7: #E6C3AF;
$primary-8: #D69A85;
$primary-9: #C6715A;
$primary-10: #B6482F;

$font-primary-color: #3C3935;

$cyan-1: #A7DFE3;
$cyan-color: #00A9B6;
